version: "3"

services:
  postgres:
    container_name: postgres
    ports:
      - 5432:5432
    image: postgres:alpine
    environment:
      - POSTGRES_USER=turboAf
      - POSTGRES_PASSWORD=getTurbo
      - POSTGRES_DB=prisma
    restart: always

  firebase-emulators:
    container_name: firebase-emulators
    ports:
      - 4000:4000
      - 4001:4001
      - 4002:4002
    build:
      context: ./firebase-emulators
      dockerfile: Dockerfile
    image: firebase-emulator:firebase-emulator
    volumes:
      - ./packages/firebase-emulators/firebase.json:/src/firebase.json
      - ./packages/firebase-emulators/storage.rules:/src/storage.rules
      - ./packages/firebase/seed:/src/firebase/seed
    command: firebase emulators:start --project dev
