# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/.nyc_output

# next.js
/.next/
/out/

# production
/build
.serverless_nextjs

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# local env files
.env
.env.json
.env.local
.env.test
.env.prod
.env.development.local
.env.test.local
.env.production.local
cypress.env.json
# Sentry
.sentryclirc
